
<div class="header">

  <header>
    <!-- Barra de navegación -->
    <nav class="navbar">
      <!-- Botón del sidenav -->
      <button class="navbar-toggler" (click)="toggleSidenav()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Título del sitio o logo -->
      <a class="navbar-brand" href="#"></a>

      <!-- Otros elementos de la barra de navegación si los hay -->
    </nav>

    <!--     Sidenav -->
    <div class="sidenav" [ngClass]="{'open': isSidenavOpen}">
      <!-- Contenido del menú lateral -->
      <ul class="contentsnav">

        <li><i class="fas fa-home"></i><a [routerLink]="['/safaTube/home']">Home</a></li>
        <li><i class="fa fa-comments" aria-hidden="true"></i><a [routerLink]="['/safaTube/chat']">Chat</a></li>
        <li><i class="fas fa-heart"></i><a [routerLink]="['/safaTube/micanal/suscripciones']">Suscripciones</a></li>
        <li><i class="fas fa-list"></i><a [routerLink]="['/safaTube/listasReproduccion']">Listas de reproducción</a></li>
        <li><i class="fas fa-history"></i><a [routerLink]="['/safaTube/historial']">Historial</a></li>
        <li><i class="fas fa-chart-bar"></i><a [routerLink]="['/safaTube/micanal/estadisticas']">Estadísticas</a></li>
        <li><i class="fa fa-spinner"></i><button (click)="toggleDarkMode()">Dark Mode</button></li>
      </ul>
    </div>
  </header>
</div>
