<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />

<div class="video-app">
  <app-header></app-header>
  <div class="wrapper">
  </div>


<!--  <div class="card">-->
<!--    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">-->
<!--      <ng-template let-product pTemplate="item">-->
<!--        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">-->
<!--          <div class="mb-3">-->
<!--            <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="w-6 shadow-2" />-->
<!--          </div>-->
<!--          <div>-->
<!--            <h4 class="mb-1">{{ product.name }}</h4>-->
<!--            <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>-->
<!--            <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>-->
<!--            <div class="mt-5 flex align-items-center justify-content-center gap-2">-->
<!--              <p-button icon="pi pi-search" [rounded]="true" />-->
<!--              <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </p-carousel>-->
<!--  </div>-->



  <div class="main-container">
    <p-carousel [value]="videos" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="300000">
      <ng-template pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3 col-12 col-md-12 col-lg-3 my-3" *ngFor="let v of videos" [routerLink]="['/safaTube/video', v.id]">
            <div class="video-card w-100 rounded shadow position-relative" [style.background-image]="'url(' + v.miniatura + ')'"
               style="background-size: cover; background-position: center bottom; background-repeat: no-repeat;">
              <div class="video-title position-absolute text-white p-3 p-xl-4">
                <div class="font-weight-bold pb-2">
                  {{v.titulo}}
                </div>
                <div class="small">
                  <img src="{{v.foto_canal}}">{{v.nombre_canal}}
                </div>
              </div>
              <div class="hover text-white">
                <i class="fas fa-play small"></i>
              </div>
          </div>
          </div>

      </ng-template>

    </p-carousel>

  </div>

</div>
