<app-header></app-header>
<body>

<div class="div1" id="div1">
  <div class="div1-content">
    <a [routerLink]="['/safaTube/home']">Home</a>
    <a [routerLink]="['/safaTube/canal']">Canal</a>
  </div>
  <div class="personas">
    <form class="persona" *ngFor="let c of canales" (ngSubmit)="listarMensaje(c.canal.usuario.id)">
<!--      <input type="text" id="{{c.id}}" name="{{c.id}}" [(ngModel)]="emisor.usuario_receptor" required>-->
      <button type="submit" (click)="boleanochange()"><img src="{{c.canal.foto}}"><span>{{c.canal.usuario.username}}</span><span id="number" style="width: 25px; height:25px; padding: 0; margin: 0;">
        <span *ngIf="c.numero != 0" style="text-align:center; width: 25px; height:25px; background-color: indianred; border-radius: 100%; padding: 3px 5px 3px 5px;"><b>{{c.numero}}</b></span></span></button>
        <hr>
    </form>

  </div>
</div>

<div class="div2" id="div2">
  <div *ngFor="let m of mensajes">
    <p class="pamplina" *ngIf="m.id_usuario_emisor === comparador">{{ m.texto }}</p>
    <p id="prueba" *ngIf="m.id_usuario_emisor !== comparador">{{m.texto}}</p>
  </div>

  <form id="crear_mensaje" (ngSubmit)="crearMensaje()">
    <input type="text" id="texto" placeholder="Escribe un mensaje..." name="texto" [(ngModel)]="mensaje.texto" required>
    <button type="submit" (click)="boleanochange()"><img src="assets/images/Drawing.png"></button>
  </form>
</div>

</body>
