<h2>Editar Contraseña</h2>
<br>
<!-- Aquí puedes añadir los campos para editar la contraseña y cualquier otra información que desees -->

<input type="password" matInput placeholder="Contraseña actual" required>
<br>

<input type="password" matInput placeholder="Nueva contraseña" required>
<br>

<input type="password" matInput placeholder="Confirmar contraseña" required>

<br>
<br>
<br>
<button mat-button (click)="onSaveClick()">Guardar</button>
<br>
<button mat-button (click)="onNoClick()">Cancelar</button>

<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button (click)="onNoClick()">No</button>-->
<!--  <button mat-button (click)="onYesClick()">Si</button>-->
<!--</mat-dialog-actions>-->



<!--<button mat-button (click)="onNoClick()">Cerrar</button>-->
