
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px; /* Ancho máximo de la tarjeta */
  margin: 0 auto; /* Centrar la tarjeta horizontalmente */

  margin-top:10%;
  margin-bottom:10%;
}

h2 {

  align-items: center;
  text-align: center;
  color: #3a57af;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: italic;

  margin-top: 20px;


}

.user-info {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.username {
  color: #333;
}

/*.buttons button {*/
/*  margin-right: 10px;*/
/*}*/


/*a.button {*/
/*  font-size: 14px;*/
/*  font-weight: 600;*/
/*  color: white;*/
/*  padding: 6px 80px 28px 20px;*/
/*  margin: 10px 8px 20px 0px;*/
/*  display: inline-block;*/
/*  float: right;*/
/*  text-decoration: none;*/
/*  width: 50px; height: 27px;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  border-radius: 5px;*/
/*  background-color: #3a57af;*/
/*  -webkit-box-shadow: 0 3px rgba(58,87,175,.75);*/
/*  -moz-box-shadow: 0 3px rgba(58,87,175,.75);*/
/*  box-shadow: 0 3px rgba(58,87,175,.75);*/
/*  transition: all 0.1s linear 0s;*/
/*  top: 0px;*/
/*  position: relative;*/
/*}*/

/*a.button:hover {*/
/*  top: 3px;*/
/*  background-color:#2e458b;*/
/*  -webkit-box-shadow: none;*/
/*  -moz-box-shadow: none;*/
/*  box-shadow: none;*/

/*}*/


button {
  border-radius: 25px;
  padding: 25px 35px;
  border: 1px solid #3a57af;
  background-color: #dde4f8;
}

button:hover {
  background-color: #ff0000;
  color: white ! important;
}


.abajo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a57af;
}
