<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>safaTube
          </h6>
          <p>
            La plataforma de vídeos líder en España durante 2024.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Redes
          </h6>
          <p>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter">X</i>
            </a>
          </p>
          <p>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter">Instagram</i>
            </a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Información
          </h6>
          <p>
            <a href="#!" class="text-reset">FAQs</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Sobre Nosotros</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p>
            <a href="#" class="text-reset">Sevilla, 41009, España</a>
          </p>
          <p>
            <a href="#" class="text-reset">+ 34 956 567 488</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" >safaTube.com</a>
  </div>
</footer>
