.header {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  background-color: var(--header-bg-color);
  align-items: center;
  padding: 0 25px;
  color: var(--body-color);
  font-size: 15px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 45%;
  svg {
    width: 22px;
    margin-right: 25px;
    flex-shrink: 0;
  }
}

.logo-safatube{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  text-align: center;
  width: 18%;
  cursor: pointer;
}
.logo-safatube h1{
  font-size: x-large;
}
.logosafatube{
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  align-items: center;
  cursor: pointer;

}

.menu-item {
  &:hover {
    color: var(--logo-color);
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.user-settings {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
  & > * + * {
    margin-left: 18px;
  }
  width: 25%;
}

.user-settings svg {
  width: 22px;
  flex-shrink: 0;
}

.button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  color: var(--body-color);
  font-family: var(--body-font);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding-left: 16vh;
  svg {
    margin-right: 8px;
    width: 20px;
    fill: var(--body-color);
  }
}
.search-bar {
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    height: 100%;
    width: 80%;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0 10px 0 54px;

    color: #7c7c7c;
    &::placeholder {
      color: var(--body-color);
    }
  }
  button{
    height: 50%;
    width: 15%;
    display: block;
    background-color: #f14668;
    border: none;
    border-radius: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cpath d='M18.5 17h-.79l-.28-.27a6.5 6.5 0 10-.7.7l.27.28v.79l5 4.99L23.49 22l-4.99-5zm-6 0a4.5 4.5 0 11-.01-8.99A4.5 4.5 0 0112.5 17z' id='a'/%3e%3c/defs%3e%3cg transform='translate(-6 -6)' fill='none' fill-rule='evenodd'%3e%3cmask id='b' fill='%23fff'%3e%3cuse xlink:href='%23a'/%3e%3c/mask%3e%3cg mask='url(%23b)' fill='%23D8D8D8'%3e%3cpath d='M3 3h24v24H3z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 50% 50%;
  }
  .user-profile img{
    display: flex;
    height: auto;
    width: 200px;
    border-radius: 100%;
  }

}
