<div class="header">
  <div class="header-left">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
         stroke-linecap="round" stroke-linejoin="round">
      <path d="M3 12h18M3 6h18M3 18h18">
        <app-sidenav></app-sidenav>
      </path>
    </svg>
    <div class="logo-safatube" [routerLink]="['/safaTube/home']">
      <h1>safaTube</h1>
      <img src="assets/images/logo.png" class="logosafatube">
    </div>

    <div class="search-bar" id="buscarVideo">
      <input type="text" [(ngModel)]="palabraClave" placeholder="Search..."/>
      <button type="submit" (click)="mandarCosulta()" [routerLink]="['/safaTube/buscador-video']"></button>
    </div>
  </div>

  <div class="header-menu">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/safaTube/home']">Para Ti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/safaTube/home/suscritos']">Suscrito</a>
      </li>
    </ul>
  </div>

  <div class="user-settings">
    <button class="button" (click)="openModal()">
      <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 512.06 512.06">
        <path
          d="M426.63 188.22C402.97 93.95 307.37 36.7 213.08 60.37A176 176 0 0080.39 218.3a96 96 0 0016 190.72h80v-32h-80a64 64 0 010-128 16 16 0 0016-16c-.08-79.53 64.33-144.06 143.86-144.14a144 144 0 01141.42 116.14 16 16 0 0013.6 12.8 80 80 0 01-10.88 159.2h-64v32h64c61.86-.18 111.85-50.48 111.66-112.34a112 112 0 00-85.41-108.46z"/>
        <path
          d="M245.03 253.66l-64 64 22.56 22.56 36.8-36.64v153.44h32V303.58l36.64 36.64 22.56-22.56-64-64a16 16 0 00-22.55 0z"/>
      </svg>
      <a>Upload</a>
<!--      <a [routerLink]="['/safaTube/home/:id/crear_video']">Upload</a>-->
<!--      <app-crear-video></app-crear-video>-->
    </button>
<!--    <app-modal *ngIf="service.modalOpen$ | async"></app-modal>-->
    <div class="modal" id="crearVideo">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login-box">
          <div class="modal-header">
            <h3>Comparte tu Material</h3>
            <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body user-box">
            <label>Título: </label>
            <input [value]="videoNuevo.titulo" [(ngModel)]="videoNuevo.titulo">
          </div>
          <div class="modal-body user-box">
            <label>Descripción: </label>
            <input [value]="videoNuevo.descripcion" [(ngModel)]="videoNuevo.descripcion">
          </div>
          <div class="modal-body user-box">
            <label>Enlace: </label>
            <input [value]="videoNuevo.enlace" [(ngModel)]="videoNuevo.enlace">
          </div>
          <div class="modal-body user-box">
            <label>Miniatura: </label>
            <input [value]="videoNuevo.miniatura" [(ngModel)]="videoNuevo.miniatura">
          </div>
          <div class="modal-body user-box"  >
            <label >Privacidad: </label>
            <select class="ab" [value]="videoNuevo.tipoPrivacidad" [(ngModel)]="videoNuevo.tipoPrivacidad">
              <option value="Público">Público</option>
              <option value="Privado">Privado</option>
              <option value="Por URL">Por enlace</option>
            </select>
          </div>
          <div class="modal-body user-box"  >
            <label >Categoría: </label>
            <select class="ab" [value]="videoNuevo.tipoCategoria" [(ngModel)]="videoNuevo.tipoCategoria">
              <option value="Infantil">Infantil</option>
              <option value="Gameplays">Gameplays</option>
              <option value="Vlogs">Vlogs</option>
              <option value="Tutoriales">Tutoriales</option>
              <option value="Product Reviews">Product Reviews</option>
              <option value="Unboxing">Unboxing</option>
              <option value="Videos Formativos">Videos Formativos</option>
              <option value="Podcasts">Podcasts</option>
              <option value="Música">Música</option>
              <option value="Cocina">Cocina</option>
              <option value="Deporte">Deporte</option>
            </select>
          </div>
          <div class="modal-body user-box">
            <label>Duración en minutos: </label>
            <input [value]="videoNuevo.duracion" [(ngModel)]="videoNuevo.duracion">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
            <button type="button" class="btn btn-danger" (click)="crearVideo()" [routerLink]="['/safaTube/video']">Subir Vídeo</button>
<!--            <div *ngIf="showProgressBar">-->
<!--              <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--              &lt;!&ndash; Puedes agregar aquí una barra de progreso real o simplemente un mensaje &ndash;&gt;-->
<!--            </div>-->
          </div>

        </div>
      </div>
    </div>
    <app-campana></app-campana>


    <div class="user-profile" style="max-width: 40px !important;" [routerLink]="['/safaTube/home/:id']">
      <img src="{{imagenPerfil}}" alt="logoPerfil">
    </div>

  </div>


</div>
