body{
  margin: 100px 250px 100px 200px;
  padding: 0;
  flex-wrap: wrap;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info>img{
  width: 60px;
  border-radius: 100%;
}
.ticket{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  margin: 100px;
}
.punto{
  width: 5px;
  height: 5px;
  background-color: lightsalmon;
  border-radius: 100%;
}

