<header>
    <div>Animated Sections</div>
    <div>Nothing4us</div>
</header>
<div class="background-image" [style.background-image]="'url('+currentImage+')'">
  <a>hola</a>
<!--<section class="first">-->
<!--    <div class="outer">-->
<!--        <div class="inner">-->
<!--            <div class="bg one">-->
<!--                <h2 class="section-heading">Scroll down</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->
<!--<section class="second">-->
<!--    <div class="outer">-->
<!--        <div class="inner">-->
<!--            <div class="bg">-->
<!--                <h2 class="section-heading">Animated with GSAP</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<section class="third">-->
<!--    <div class="outer">-->
<!--        <div class="inner">-->
<!--            <div class="bg">-->
<!--                <h2 class="section-heading">GreenSock</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<section class="fourth">-->
<!--    <div class="outer">-->
<!--        <div class="inner">-->
<!--            <div class="bg">-->
<!--                <h2 class="section-heading">Animation platform</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<section class="fifth">-->
<!--    <div class="outer">-->
<!--        <div class="inner">-->
<!--            <div class="bg">-->
<!--                <h2 class="section-heading">Keep scrolling</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
</div>
