<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<app-header></app-header>
<div class="spacer"></div>
<div class="container">
  <div class="columns">
    <div class="column is-8">
      <div class="ratio ratio-16x9" #demoYouTubePlayer>
        <youtube-player
          videoId="{{video.enlace}}"
          suggestedQuality="highres"
          [height]="videoHeight"
          [width]="videoWidth"
          [startSeconds]="4"
          [endSeconds]="300">
        </youtube-player>
      </div>
      <br>
      <div class="box video-meta">
        <div class="video-title">{{video.titulo}}</div>
        <br>
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="{{video.canal.foto}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <div class="columns">
                <div class="column is-6">
                  <p>
                    <strong>{{video.canal.nombre}}</strong>
                    <br>
                    <a href="#" class="button is-danger">Suscribirse</a>
                  </p>
                </div>
                <div class="column is-6">
                  <nav class="nav">
                    <div class="container">
                      <div class="nav-right">
                        <a class="nav-item is-tab is-active">
                          <span class="title is-4">{{video.totalVisitas}} visitas</span>
                          <div>
                            <a class="button is-default" (click)="darLikeVideo"><i class="fa fa-thumbs-up"></i> {{ video.contadorLikes }}</a>
                            <a class="button is-default" (click)="darDislikeVideo"><i class="fa fa-thumbs-down"></i> {{ video.contadorDislikes }}</a>
                          </div>
                        </a>
                      </div>
                    </div>
                  </nav>
                </div>

              </div>
              <nav class="level">
                <p class="level-item has-text-left">
                  <a class="button is-default">
                    <span class="icon"><i class="fa fa-plus"></i></span> <span>Añadir a lista</span>
                  </a>
                  <a class="button is-default">
                    <span class="icon"><i class="fa fa-share"></i></span> <span>Compartir</span>
                  </a>
                  <a class="button is-default">
                    <span class="icon"><i class="fa fa-ellipsis-h"></i></span> <span>Más</span>
                  </a>
                </p>

              </nav>
            </div>
          </div>
        </article>
      </div>
      <div class="box video-description">
        <p><strong>Subido el {{ video.fecha }}</strong></p>
        <p>{{ video.descripcion }}</p>
        <hr>
      </div>
      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{video.canal.foto}}">
            </p>
          </figure>
          <div class="media-content">
            <p class="control">
              <textarea class="textarea" placeholder="Comenta algo..."></textarea>
            </p>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <a class="button is-info">Publicar</a>
                </div>
              </div>
            </nav>
          </div>
        </article>
        <hr>
        <article class="media" *ngFor="let c of comentarios">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{c.foto_canal}}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{c.nombre_canal}}</strong>
                <small> {{c.fecha}}</small>
                <br>
                {{c.texto}}
                <br>
                <small class="interactuar-comentarios">
                  <div class="interdiv">
                    <a class="button is-default" (click)="darLikeVideo"><i class="fa fa-thumbs-up"></i> {{c.contador_likes}}</a>
                    <a class="button is-default" (click)="darDislikeVideo"><i class="fa fa-thumbs-down"></i> {{c.contador_dislikes}}</a>
                    <a class="button is-default" (click)="verRespuestas(c)">Ver Respuestas</a>
                    <a class="button is-default" (click)="darDislikeVideo">Responder</a>
                  </div>

                  <article class="media" *ngFor="let r of respuestas">
                    <div *ngIf="r.id_comentario_padre == c.id">
                      <figure class="media-left">
                        <p class="image is-64x64">
                          <img src="{{r.foto_canal}}">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <a>
                              <strong>{{r.nombre_canal}} </strong>
                              <small> &#64;<b>{{r.nombre_canal_comentario_padre}} </b></small>
                              <small> {{r.fecha}}</small>
                            </a>
                            {{r.texto}}
                            <small class="interactuar-respuestas">
                              <a class="button is-default" (click)="darLikeVideo"><i class="fa fa-thumbs-up"></i> {{r.contador_likes}}</a>
                              <a class="button is-default" (click)="darDislikeVideo"><i class="fa fa-thumbs-down"></i> {{r.contador_dislikes}}</a>
                              <a class="button is-default" (click)="responderRespuesta(r)">Responder</a>
                            </small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </article>


                  <article class="media" *ngFor="let r2 of respuestasDeRespuestaPadre">
<!--                    <div *ngIf="r2.id_comentario_padre == respuestas.let.r.id">-->
                      <figure class="media-left">
                        <p class="image is-64x64">
                          <img src="{{r2.foto_canal}}">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <a>
                              <strong>{{r2.nombre_canal}} </strong>
                              <small> &#64;<b>{{r2.nombre_canal_comentario_padre}} </b></small>
                              <small> {{r2.fecha}}</small>
                            </a>
                            {{r2.texto}}
                            <small class="interactuar-respuestas">
                              <a class="button is-default" (click)="darLikeVideo"><i class="fa fa-thumbs-up"></i> {{r2.contador_likes}}</a>
                              <a class="button is-default" (click)="darDislikeVideo"><i class="fa fa-thumbs-down"></i> {{r2.contador_dislikes}}</a>
                              <a class="button is-default" (click)="darDislikeVideo">Responder</a>
                            </small>
                          </p>
                        </div>
                      </div>
<!--                    </div>-->
                  </article>






                </small>
              </p>
            </div>
          </div>
        </article>


        <div class="spacer"></div>

      </div>
    </div>


    <div class="column is-4">
      <div class="box related-list">
        <p class="autoplay">
          <span class="autoplay-title">Siguiente</span>
        </p>
        <article class="media related-card" *ngFor="let recomend of recomendaciones" [routerLink]="['/safaTube/video', recomend.id]">
          <div class="media-left1">
            <figure class="image">
              <img src="{{recomend.miniatura}}" alt="Image">
            </figure>
          </div>
          <div class="media-content1">
            <div class="content">
              <p>
                <span class="video-title">{{ recomend.titulo }}</span>
                <span class="video-account">{{ recomend.nombre_canal }}</span>
                <span class="video-views">{{ recomend.total_visitas }} views</span>
              </p>
            </div>
          </div>
        </article>


      </div>
    </div>
  </div>
</div>
