<div class="container">
  <form id="contact" action="" method="post">
    <h3>Eleva tu Creatividad:</h3>
    <h4>Comparte tu Material</h4>
    <fieldset>
      <input placeholder="Título" type="text" tabindex="1" required autofocus>
    </fieldset>
    <label for="priv">Privacidad</label>
    <select name="privacidad" id="priv">
      <option value="publico">Público</option>
      <option value="privado">Privado</option>
      <option value="por_enlace">Por enlace</option>
    </select>
    <label for="cat">Categoría</label>
    <select name="categoria" id="cat">
      <option value="infantil">Infantil</option>
      <option value="gameplays">Gameplays</option>
      <option value="vlogs">Vlogs</option>
      <option value="tutoriales">Tutoriales</option>
      <option value="hauls">Hauls</option>
      <option value="product_reviews">Product Reviews</option>
      <option value="unboxing">Unboxing</option>
      <option value="videos_formativos">Videos Formativos</option>
      <option value="podcasts">Podcasts</option>
      <option value="musica">Música</option>
    </select>

    <fieldset>
      <input placeholder="Enlace" type="url" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Descripción" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Subir</button>
    </fieldset>
  </form>
</div>
