<app-header></app-header>
<div class="video-app">
  <div class="wrapper">
  </div>
  <div class="main-container">
    <div class="videos" *ngFor="let v of videos">
      <p>{{ v.titulo }}</p>
      <p>{{ v.descripcion }}</p>
      <div class="video">
        <div class="video-time">15.13</div>
        <video muted>
          <source src="https://player.vimeo.com/external/368244254.sd.mp4?s=2dc98d46cc5c55913b309928d1d14769f76bc6f9&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">Planning Helps Make</div>
        <div class="view">15.4k views</div>
      </div>
      <div class="video">
        <div class="video-time">13.10</div>
        <video muted>
          <source src="https://player.vimeo.com/external/356200184.sd.mp4?s=f528556cafba1d369984dc341104e7eef8bb71bb&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">This Is Cloaud Break</div>
        <div class="view">13.2k views</div>
      </div>
      <div class="video">
        <div class="video-time">15.30</div>
        <video muted>
          <source src="https://player.vimeo.com/external/364324653.sd.mp4?s=7ded2b451ac7f5dfaf1375277aa0308cdf5d011c&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">Lost Your Mind</div>
        <div class="view">11.7k views</div>
      </div>
      <div class="video">
        <div class="video-time">11.30</div>
        <video muted>
          <source src="https://player.vimeo.com/external/399004885.sd.mp4?s=1d39443bef9856dacc4d3ba2c6be0881e38b7e66&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">Planning Helps Make</div>
        <div class="view">9.2k views</div>
      </div>
      <div class="video">
        <div class="video-time">6.35</div>
        <video muted>
          <source src="https://player.vimeo.com/external/353556576.sd.mp4?s=8e942d8680fe908418143e63e04b8798982d5bea&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">Research In Advertising</div>
        <div class="view">18.4k views</div>
      </div>
      <div class="video">
        <div class="video-time">2.21</div>
        <video muted>
          <source src="https://player.vimeo.com/external/368556609.sd.mp4?s=3fa896a1d6d8c04382a9b8f33053d2eaabe4342b&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">See The Unmatched</div>
        <div class="view">3.4k views</div>
      </div>
      <div class="video">
        <div class="video-time">12.10</div>
        <video muted>
          <source src="https://player.vimeo.com/external/285489976.sd.mp4?s=4fa6461f93f18e0d6cfc30461fffb05311d60a28&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">Dance In The Air</div>
        <div class="view">17.4k views</div>
      </div>
      <div class="video">
        <div class="video-time">7.50</div>
        <video muted>
          <source src="https://player.vimeo.com/external/325725646.sd.mp4?s=763c0f293299052689f8344b3a155ea2b4a1c92b&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
        </video>
        <div class="video-content">Sadness Will Last Forever</div>
        <div class="view">12.6k views</div>
      </div>






    </div>

  </div>
</div>

