
#activo{
  display: none;
}
#inactivo{
  display: block;
}
.notificacion{
  display: none;
  flex-direction: column;
  border: solid black 1.5px;
  border-radius: 20px;
  padding: 15px 15px 10px 15px;
  box-shadow: 5px 5px 10px black;
  width: 320px;
  margin-bottom: -220px;
  background: white;
  margin-left: -300px;
  z-index: 1;
  position: absolute;
}
.container{display: flex;
  justify-content: flex-end;
flex-direction: column;
  z-index: 1;
  cursor: pointer;
  background: white;
  position: relative;
}
img{
  width: 20px;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
P{
  cursor: pointer;
  text-align: right;
  border-radius: 20px;
  padding-bottom: -5px;
  padding-top: -5px;
  padding-right: 7px;
  margin-top: -5px;
}
