<div class="card">
  <h2>Mi Perfil</h2>
  <br>
  <table>
    <tr>
      <td>Usuario:</td>
      <td>{{ username }}</td>

    </tr>
    <br>
    <tr>
      <td>Webhook:</td>
      <td>{{ webhook }}</td>
    </tr>
  </table>

  <br>

</div>


<div class="abajo">


<button  (click)="openChangePasswordModal()"> <i class="fas fa-key"></i>Editar Contraseña</button>
<!--<button (click)="modalPwOpen()"> <i class="fas fa-key"></i> Editar Contraseña</button>-->
<button routerLink="/safaTube/home"><i class="fas fa-home"></i> Home</button>
</div>


<!--<button (click)="editarPw()"> <i class="fas fa-key"></i> Editar Contraseña</button>-->
