<app-header></app-header>
<div class="container">
  <h1 class="text-center">{{listaReproduccion.nombre}}</h1>
  <div class="video-playlist-wrap two-col">
    <div class="player-wrap">
      <div class="fluid-ratio-wrap">
        <div class="fluid-ratio-inner">
          <img class="img-responsive" src="http://placehold.it/1600x900">
        </div>
      </div>
    </div>

    <div class="playlist-wrap">
      <ul class="remove-bullets scroll-wrap">
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 1</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 2</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 3</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 4</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 5</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 6</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 7</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 8</div>
        </li>
        <li class="playlist-item more">
          <a href="#">See More</a>
        </li>
      </ul>
    </div>

  </div>
</div>
