@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  --color-bg: #f0f0f0;
  --color-text: #303030;
  color: var(--color-text);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: xx-large;
}

.ol-cards,
.ol-cards *,
.ol-cards *::before,
.ol-cards *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ol-cards {
  --ol-cards-color-bg: var(--color-bg);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 45em;
  padding: 2em;
  gap: 2em;
  counter-reset: ol-cards-counter;
}

.ol-cards li {
  display: flex;
  /*grid-template-areas:*/
  /*  "step title"*/
  /*  "step content";*/
  padding: 1em;
  row-gap: 0.5em;
  column-gap: 2em;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.4),
  inset 0.05em 0.05em rgba(255, 255, 255, 1);
  counter-increment: ol-cards-counter;
  text-align: center;
  background-color: var(--ol-cards-color-bg);
}

.ol-cards.alternate li:nth-child(even) {
  grid-template-areas:
    "title step"
    "content step";
  padding: 1em 0 1em 2em;
}

.ol-cards li .title {
  /*grid-area: title;*/
  color: var(--ol-cards-color-accent);
  font-weight: bold;
  text-align: center;
}
.ol-cards li .content {
  grid-area: content;
  font-size: 0.9em;
  text-align: center;
}

.button{
  border: none;
  color: black;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  /*text-align: right;*/
  /*align-items: end;*/

}

.button-container {
  position: absolute;
  bottom: 1em; /* Ajustar según sea necesario para centrar verticalmente */
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 500px) {
  .ol-cards{
    padding: 1em;
  }
  .ol-cards li{
    column-gap: 0em;
    grid-template-areas:
      'step title'
      'content content';
    grid-template-columns: min-content auto;
    padding: 1em 0em;
  }
  .ol-cards.alternate li:nth-child(even){
    column-gap: 0em;
    grid-template-areas:
      'title step'
      'content content';
    grid-template-columns: auto min-content ;
    padding: 1em 0em;
  }
  .ol-cards li .title{
    padding: 0 1em;
    align-self: center;
    width: auto;

  }
  .ol-cards li .step{
    font-size: .5em;
  }
  .ol-cards li .content{
    padding: 0 1em;
  }
}

